.card {
  width: 300px !important;
  height: 350px !important;
}
.title {
  background-color: #20065f !important;
  color: #ffffff;
}
button {
  background: #8e49e8 !important;
  border: none !important;
  outline: none !important;
  border-radius: 3px !important;
  opacity: 0.6 !important;
  transition: all 0.3s ease !important;
}
button:hover {
  background: #721ce3 !important;
}
.list {
  background: #f2f2f2;
}
.scroll {
  overflow: auto;
}
.scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 25px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #afa2cf;
  border-radius: 10px;
}
.del-icon {
  background: #e74c3c;
  text-align: center;
  color: #fff;
  padding: 6px 6px;
  border-radius: 0 3px 3px 0;
  transition: all 0.2s ease;
}
.cursor-pointer {
  cursor: pointer;
}
.fs-25 {
  font-size: 25px !important;
}
